html, body {
    height: 100%;
    margin: auto;
}

body {
    background-color: #111111;
    color: #DFDFDF;
    font-family: "League Spartan", "Arial";
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
}
  
.center-element{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 3em;
}

.nav-links a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    text-decoration: underline;
}

button {
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
}